*{
    margin: 1px;
}

.DatosGenerales{
    background-color: aqua;
}

.Nticket_FechaHora{
    background-color: red;
}

.SeleccioneAccion_SeleccioneBU{
    background-color: brown;
}

.SeleccionePropietaro_NombreTecnico{
    background-color: blueviolet;
}

.DirecciónyUbicación{
    background-color: chocolate;
}

.DatosEquipo{
    background-color:yellowgreen;
}

.MarcaModeloSerie{
    background-color: blueviolet;
}

.IPHostChasis{
    background-color: blue;
}